.main_page01 {
    background: #f0f0f0;
    overflow: hidden;
    position: relative;
}

.main_page01 .slide_box {
    /* position: absolute;
    top: -16%;
    left: 50%;
    transform: translate(-50%, 0) rotate(-10deg); */
    transform: translate(-60px, -150px) rotate(-10deg);
    width: calc(100% + 200px);
}

@media (max-width: 768px) {
    .main_page01 .slide_box {
        transform: translate(-60px, 80px) rotate(-10deg);
    }
}

.swiper-wrapper{
	transition-timing-function: linear;
}


.main_page01 .top_slide {
    margin: 0 0 30px 0;
}

.main_page01 figure {
    /* width: 400px !important; */
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .main_page01 figure {
        width: 300px !important;
        height: 200px !important;
        overflow: hidden;
        border-radius: 10px;
    }
}

.main_page01 .top_slide .top {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .main_page01 .top_slide {
        transform: translate(1px, 1px);
    }

    .main_page01 .top_slide .top {
        width: 300px!important;
        height: auto;
    }
}

.main_page01 .top_slide .top01 figure{
    background: url(../imges/sajotuna.png)no-repeat top center/cover;
}

.main_page01 .top_slide .top02 figure{
    background: url(../imges/bluestone.png)no-repeat top center/cover;
}
.main_page01 .top_slide .top03 figure{
    background: url(../imges/movingegg.png)no-repeat top center/cover;
}
.main_page01 .top_slide .top04 figure{
    background: url(../imges/shinil.png)no-repeat top center/cover;
}
.main_page01 .top_slide .top05 figure{
    background: url(../imges/sk.png)no-repeat top center/cover;
}
.main_page01 .top_slide .top06 figure{
    background: url(../imges/playstation.png)no-repeat top center/cover;
}
.main_page01 .top_slide .top07 figure{
    background: url(../imges/Altool.png)no-repeat top center/cover;
}

.main_page01 .top_slide .top08 figure{
    background: url(../imges/sajotuna.png)no-repeat top center/cover;
}

.main_page01 .top_slide .top09 figure{
    background: url(../imges/bluestone.png)no-repeat top center/cover;
}
.main_page01 .top_slide .top10 figure{
    background: url(../imges/movingegg.png)no-repeat top center/cover;
}
.main_page01 .top_slide .top11 figure{
    background: url(../imges/shinil.png)no-repeat top center/cover;
}
.main_page01 .top_slide .top12 figure{
    background: url(../imges/sk.png)no-repeat top center/cover;
}
.main_page01 .top_slide .top13 figure{
    background: url(../imges/playstation.png)no-repeat top center/cover;
}
.main_page01 .top_slide .top14 figure{
    background: url(../imges/Altool.png)no-repeat top center/cover;
}

@media (max-width: 768px) {
    .main_page01 .top_slide .top01 figure {
        background: url(../imges/intro_sajo.png)no-repeat center center/cover;
    }
    .main_page01 .top_slide .top02 figure {
        background: url(../imges/intro_blue.png)no-repeat center center/cover;
    }
    .main_page01 .top_slide .top03 figure {
        background: url(../imges/intro_moving.png)no-repeat center center/cover;
    }
    .main_page01 .top_slide .top04 figure {
        background: url(../imges/intro_shinil.png)no-repeat center center/cover;
    }
    .main_page01 .top_slide .top05 figure {
        background: url(../imges/intro_sk.png)no-repeat center center/cover;
    }
    .main_page01 .top_slide .top06 figure {
        background: url(../imges/intro_play.png)no-repeat center center/cover;
    }
    .main_page01 .top_slide .top07 figure {
        background: url(../imges/intro_sajo.png)no-repeat center center/cover;
    }
    .main_page01 .top_slide .top08 figure {
        background: url(../imges/intro_blue.png)no-repeat center center/cover;
    }
    .main_page01 .top_slide .top09 figure {
        background: url(../imges/intro_moving.png)no-repeat center center/cover;
    }
    .main_page01 .top_slide .top10 figure {
        background: url(../imges/intro_shinil.png)no-repeat center center/cover;
    }
    .main_page01 .top_slide .top11 figure {
        background: url(../imges/intro_sk.png)no-repeat center center/cover;
    }
    .main_page01 .top_slide .top12 figure {
        background: url(../imges/intro_play.png)no-repeat center center/cover;
    }
}

.main_page01 .bottom_slide {
    /* position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0) rotate(-10deg); */
    margin: 0 0 30px 0;
}

.main_page01 .bottom_slide .bottom {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.main_page01 .bottom_slide .bottom figure {
    border-radius: 10px;
}

@media (max-width: 768px) {
    .main_page01 .bottom_slide {
        transform: translate(1px, 1px);
    }

    .main_page01 .bottom_slide .bottom {
        width: 300px!important;
        height: auto;
    }
}

.main_page01 .bottom_slide .bottom01 figure{
    background: url(../imges/sajotuna.png)no-repeat top center/cover;
}

.main_page01 .bottom_slide .bottom02 figure{
    background: url(../imges/bluestone.png)no-repeat top center/cover;
}
.main_page01 .bottom_slide .bottom03 figure{
    background: url(../imges/movingegg.png)no-repeat top center/cover;
}
.main_page01 .bottom_slide .bottom04 figure{
    background: url(../imges/shinil.png)no-repeat top center/cover;
}
.main_page01 .bottom_slide .bottom05 figure{
    background: url(../imges/sk.png)no-repeat top center/cover;
}
.main_page01 .bottom_slide .bottom06 figure{
    background: url(../imges/playstation.png)no-repeat top center/cover;
}
.main_page01 .bottom_slide .bottom07 figure{
    background: url(../imges/Altool.png)no-repeat top center/cover;
}

.main_page01 .bottom_slide .bottom08 figure{
    background: url(../imges/sajotuna.png)no-repeat top center/cover;
}

.main_page01 .bottom_slide .bottom09 figure{
    background: url(../imges/bluestone.png)no-repeat top center/cover;
}
.main_page01 .bottom_slide .bottom10 figure{
    background: url(../imges/movingegg.png)no-repeat top center/cover;
}
.main_page01 .bottom_slide .bottom11 figure{
    background: url(../imges/shinil.png)no-repeat top center/cover;
}
.main_page01 .bottom_slide .bottom12 figure{
    background: url(../imges/sk.png)no-repeat top center/cover;
}
.main_page01 .bottom_slide .bottom13 figure{
    background: url(../imges/playstation.png)no-repeat top center/cover;
}
.main_page01 .bottom_slide .bottom14 figure{
    background: url(../imges/Altool.png)no-repeat top center/cover;
}

@media (max-width: 768px) {
    .main_page01 .bottom_slide .bottom01 figure {
        background: url(../imges/intro_sajo.png)no-repeat center center/cover;
    }
    .main_page01 .bottom_slide .bottom02 figure {
        background: url(../imges/intro_blue.png)no-repeat center center/cover;
    }
    .main_page01 .bottom_slide .bottom03 figure {
        background: url(../imges/intro_moving.png)no-repeat center center/cover;
    }
    .main_page01 .bottom_slide .bottom04 figure {
        background: url(../imges/intro_shinil.png)no-repeat center center/cover;
    }
    .main_page01 .bottom_slide .bottom05 figure {
        background: url(../imges/intro_sk.png)no-repeat center center/cover;
    }
    .main_page01 .bottom_slide .bottom06 figure {
        background: url(../imges/intro_play.png)no-repeat center center/cover;
    }
    .main_page01 .bottom_slide .bottom07 figure {
        background: url(../imges/intro_sajo.png)no-repeat center center/cover;
    }
    .main_page01 .bottom_slide .bottom08 figure {
        background: url(../imges/intro_blue.png)no-repeat center center/cover;
    }
    .main_page01 .bottom_slide .bottom09 figure {
        background: url(../imges/intro_moving.png)no-repeat center center/cover;
    }
    .main_page01 .bottom_slide .bottom10 figure {
        background: url(../imges/intro_shinil.png)no-repeat center center/cover;
    }
    .main_page01 .bottom_slide .bottom11 figure {
        background: url(../imges/intro_sk.png)no-repeat center center/cover;
    }
    .main_page01 .bottom_slide .bottom12 figure {
        background: url(../imges/intro_play.png)no-repeat center center/cover;
    }
}


.main_page01 .bg_box {
    height: 550px;
    background: #528AA9;
    z-index: 1;
}

.main_page01 .txt {
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 100%;
    z-index: 998;
    text-align: right;
    color: #fff;
}

.main_page01 .txt span {
    font-size: 20px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

.main_page01 .txt h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.main_page01 .txt p {
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
    .main_page01 .txt {
        bottom: 20px;
        right: 20px;
    }

    .main_page01 .txt span {
        font-size: 12px;
        font-weight: 300;
    }

    .main_page01 .txt h1 {
        font-size: 26px;
        margin: 0 0 8px 0;
    }

    .main_page01 .txt p {
        font-size: 12px;
    }
}

.main_page02 .link_btn {
    position: fixed;
    top: 50%;
    right: 3%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.main_page02 .link_btn ul>li {
    padding: 6px 0;
}

.main_page02 .link_btn ul>li a {
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
}

.main_page02 .link_btn ul>li.on a {
    background: #000;
}

.main_page02 .slide {
    position: relative;
    background: linear-gradient(to right, #f0f0f0 40%, #528AA9 40%);
}

@media (max-width: 768px) {
    .main_page02 .slide {
        background: linear-gradient(to top, #f0f0f0 60%, #528AA9 60%);
    }
}

.main_page02 .slide .inner {
    height: calc(100% - 20%);
}

.main_page02 .slide .con {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 0 0 0 3px;
}

@media (max-width: 768px) {
    .main_page02 .slide .inner {
        height: calc(100% - 10%);
    }

    .main_page02 .slide .con {
        display: block;
        position: relative;
        padding: 0;
        height: 100%;
    }
}

.main_page02 .slide .scroll_btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    background: #555555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    padding: 15px 0 0 0;
    cursor: pointer;
    font-size: 28px;
    z-index: 999;
}

@media (max-width: 768px) {
    .main_page02 .slide .scroll_btn {
        top: 100%;
        left: 50%;
        font-size: 16px;
        padding: 10px 0 0 0;
        width: 40px;
        height: 40px;
    }
}

/* .main_page02 .sajo .scroll_btn {
    background: #1864B2;
} */

.main_page02 .slide .con .txt_box {
    grid-column: 1/7;
    position: relative;
}

.main_page02 .slide .con .txt_box .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

@media (max-width: 768px) {
    .main_page02 .slide .con .txt_box {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, 0);
        height: 60%;
        width: 100%;
    }

    .main_page02 .slide .con .txt_box .txt {
        /* position: static;
        transform: translate(0, 0);
        height: 100%;
        padding: 20px 20px 0 20px; */
        left: 0;
        transform: translate(0, -50%);
        padding: 0 20px;
    }
}

.main_page02 .slide .con .txt_box .txt h2 {
    display: inline-block;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    padding: 3px 6px;
    background: #528AA9;
    margin: 0 0 20px 0;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .main_page02 .slide .con .txt_box .txt h2 {
        font-size: 20px;
        font-weight: 700;
        background: transparent;
        color: #444;
        padding: 0;
    }
}

/* .main_page02 .sajo .con .txt_box .txt h2 {
    background: #1864B2;
} */

.main_page02 .slide .con .txt_box .txt ul {
    color: #111;
    margin: 0 0 24px 0;
}

.main_page02 .slide .con .txt_box .txt ul>li {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #666;
    padding: 10px 0;
}

.main_page02 .slide .con .txt_box .txt ul>li strong{
    display: block;
    font-size: 20px;
    font-weight: 700;

    margin: 0 0 10px 0;
}

.main_page02 .slide .con .txt_box .txt ul>li .color {
    display: flex;
    gap: 10px;
    margin: 0;
}

.main_page02 .slide .con .txt_box .txt ul>li .color>li {
    width: 20px;
    height: 20px;
    line-height: 16px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .main_page02 .slide .con .txt_box .txt ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 0 16px 0;
    }

    .main_page02 .slide .con .txt_box .txt ul>li {
        font-size: 12px;
        line-height: 20px;
        padding: 0;
    }

    .main_page02 .slide .con .txt_box .txt ul>li:last-child {
        line-height: 18px;
    }

    .main_page02 .slide .con .txt_box .txt ul>li:last-child strong {
        margin: 0 0 6px 0;
    }

    .main_page02 .slide .con .txt_box .txt ul>li strong {
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 2px 0;
    }

    .main_page02 .slide .con .txt_box .txt ul>li .color {
        flex-direction: row;
    }

    .main_page02 .slide .con .txt_box .txt ul>li .color>li {
        width: 16px;
        height: 16px;
    }
}

.main_page02 .slide .con .txt_box .txt .link_box {
    white-space: nowrap;
}

.main_page02 .slide .con .txt_box .txt .link_box a{
    display: inline-block;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 8px 24px;
    border-radius: 20px;
    background: #528AA9;
    margin: 0 10px 0 0;
}

@media (max-width: 768px) {
    .main_page02 .slide .con .txt_box .txt .link_box a {
        font-size: 12px;
        padding: 6px 18px;
    }
}

/* .main_page02 .sajo .con .txt_box .txt .link_box a {
    background: #1864B2;
} */

.main_page02 .slide .con .txt_box .txt ul>li .color .c01 {
    background: #ddd;
}

.main_page02 .slide .con .txt_box .txt ul>li .color .c02 {
    background: #ddd;
}

.main_page02 .slide .con .txt_box .txt ul>li .color .c03 {
    background: #ddd;
}

.main_page02 .slide .con .img_box {
    grid-column: 7/17;
    position: relative;
}

.main_page02 .slide .con .img_box figure {
    height: 100%;
    border-radius: 0 20px 20px 0;
    border-left: 1px solid #f0f0f0;
}

.main_page02 .slide .con .img_box .mobile {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 20px 20px 0;
}

.main_page02 .slide .con .img_box .mobile figure{
    border-radius: 10px;
    border-left: none;
   
    /* width: 300px;
    height: 400px; */

    width: 30%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .main_page02 .slide .con .img_box .mobile {
        border-radius: 20px 20px 0 0;
    }
    .main_page02 .slide .con .img_box .mobile figure {
        width: 50%;
        height: 70%;
    }
}

.main_page02 .slide .con .img_box .mobile.on {
    display: block;
}

.main_page02 .slide .con .img_box .mobile.on figure {
    animation: scroll 20s;
}


@keyframes scroll {
    0% {
        background-position: top center;
    }

    100% {
        background-position: bottom center;
    }
}


@media (max-width: 768px) {
    .main_page02 .slide .con .img_box {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 39%;
        width: 100%;
        border-bottom: 1px solid #eee;
    }

    .main_page02 .slide .con .img_box figure {
        border-radius: 20px 20px 0 0;
        height: 100%;
        border-left: none;
    }
}

.main_page02 .slide .con .img_box .scroll_btn:hover + figure {
    background-position: bottom center;
}

/* .main_page02 .slide .con .img_box figure:hover {
    background-position: bottom center;
} */

.main_page02 .sajo .con .img_box figure {
    background: url(../imges/sajotuna.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transition: 4s;
}

.main_page02 .sajo .con .img_box .mobile figure{
    background: url(../imges/sajotuna_moblie.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.main_page02 .sajo .con .txt_box .txt ul>li .color .c01 {
    background: #002E6A;
}

.main_page02 .sajo .con .txt_box .txt ul>li .color .c02 {
    background: #1864B2;
}

.main_page02 .sajo .con .txt_box .txt ul>li .color .c03 {
    background: #F72A66;
}


.main_page02 .blue .con .img_box figure{
    background: url(../imges/bluestone.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transition: 4s;
}

.main_page02 .blue .con .img_box .mobile figure{
    background: url(../imges/bluestone_moblie.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}


.main_page02 .blue .con .txt_box .txt ul>li .color .c01 {
    background: #035ac7;
}

.main_page02 .blue .con .txt_box .txt ul>li .color .c02 {
    background: #01babd;
}

.main_page02 .blue .con .txt_box .txt ul>li .color .c03 {
    background: #F72A66;
}

.main_page02 .move .con .img_box figure{
    background: url(../imges/movingegg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transition: 4s;
}

.main_page02 .move .con .img_box .mobile figure{
    background: url(../imges/movingegg_moblie.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}


.main_page02 .move .con .txt_box .txt ul>li .color .c01 {
    background: #995f35;
}

.main_page02 .move .con .txt_box .txt ul>li .color .c02 {
    background: #EE7421;
}

.main_page02 .move .con .txt_box .txt ul>li .color .c03 {
    background: #f7b83d;
}

.main_page02 .shin .con .txt_box .txt .link_box .mobile_btn {
    display: none;
}

.main_page02 .shin .con .img_box figure{
    background: url(../imges/shinil.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transition: 4s;
}

/* .main_page02 .shin .con .img_box .mobile figure{
    background: url(../imges/shinil.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
} */

.main_page02 .shin .con .txt_box .txt ul>li .color .c01 {
    background: #ed2024;
}

.main_page02 .shin .con .txt_box .txt ul>li .color .c02 {
    background: #222222;
}

.main_page02 .shin .con .txt_box .txt ul>li .color .c03 {
    background: #fff;
    border: 1px solid #f0f0f0;
}


.main_page02 .sk .con .img_box figure{
    background: url(../imges/sk.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transition: 4s;
}

.main_page02 .sk .con .img_box .mobile figure{
    background: url(../imges/sk_mobile.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}


.main_page02 .sk .con .txt_box .txt ul>li .color .c01 {
    background: #EA002C;
}

.main_page02 .sk .con .txt_box .txt ul>li .color .c02 {
    background: #ffd600;
}

.main_page02 .sk .con .txt_box .txt ul>li .color .c03 {
    background: #fff;
    border: 1px solid #f0f0f0;
}

.main_page02 .play .con .img_box figure{
    background: url(../imges/playstation.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transition: 4s;
}

.main_page02 .play .con .img_box .mobile figure{
    background: url(../imges/play_moblie.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.main_page02 .play .con .txt_box .txt ul>li .color .c01 {
    background: #0070CC;
}

.main_page02 .play .con .txt_box .txt ul>li .color .c02 {
    background: #222222;
}

.main_page02 .play .con .txt_box .txt ul>li .color .c03 {
    background: #fff;
    border: 1px solid #f0f0f0;
}

.main_page02 .Altool .con .img_box figure{
    background: url(../imges/Altool.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transition: 4s;
}

.main_page02 .Altool .con .img_box .mobile figure{
    background: url(../imges/Altool_moblie.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}


.main_page02 .Altool .con .txt_box .txt ul>li .color .c01 {
    background: #1a1a1a;
}

.main_page02 .Altool .con .txt_box .txt ul>li .color .c02 {
    background: #08f;
}

.main_page02 .Altool .con .txt_box .txt ul>li .color .c03 {
    background: #fff;
    border: 1px solid #f0f0f0;
}